* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.wrapper {
  margin: 50px 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 50px;
  position: relative;
}

.searchInput {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  appearance: none;
  background-color: white;
  border: none;
  padding: 10px 35px 10px 15px;
  font-size: 18px;
  outline: none;
}

.searchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.searchIcon {
  width: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 13px;
  right: 5px;
}

.clearIcon {
  width: 28px;
  cursor: pointer;
  position: absolute;
  bottom: 13px;
  right: 28px;
}

.movieContainer {
  margin-top: 20px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
}

.movieCard {
  background-color: #fff;
  height: 300px;
  width: 19%;
  border-radius: 5px;
}
